.bg-compensar {
    width: 100%;
    height: auto;
}

.filler {
    display: none;
}

.bubble {
    max-width: 90% !important;
}

*, ::after, ::before {
    box-sizing: initial;
}

body {
    overflow: none;
}

.css-1i5j9y2>.content>.webchat__row>.bubble {
    max-width: 100% !important;
}

.content-chatbot {
    position: fixed;
    max-width: 320px;
    right: 2.5em;
    bottom: 0;
    width: 100%;
    line-height: 1.2;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.button-collapse-chabot a, .btn-primary:not(:disabled):not(.disabled):active {
    width: inherit;
    display: block;
    text-align: left;
    background: #f60;
    border-color: #ff9752;
    border-radius: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.button-collapse-chabot a:hover {
    background: #f0f0f0;
    border-color: #c5c5c5;
}

.btn-primary:focus, .btn-primary:active {
    box-shadow: none;
}

.button-collapse-chabot img {
    max-width: 85px;
    height: auto;
}

.row {
    margin: 0px;
}

.main {
    box-sizing: inherit;
}

div[role="log"]>div {
    height: 90vh;
    overflow: auto;
    overflow-x: none;
    background: #ffffff;
}

.message {
    padding-bottom: 20px;
}

.message>div>div {
    display: inline-block;
    position: relative;
    height: auto;
    background-color: #f0f0f0 !important;
    width: 100% !important;
    max-width: 90% !important;
    border: none !important;
}

.message>.from-user>div {
    display: inline-block;
    position: relative;
    height: auto;
    background-color: #fde2d0 !important;
    width: 150px;
    border: none !important;
}

.message>.bubble>div>div>p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.attachment.bubble {
    background: #f0f0f0;
    min-width: 235px !important;
}

.ac-pushButton {
    background: #f60 !important;
    color: #ffffff !important;
    cursor: pointer;
}

.ac-pushButton:hover {
    background: #c24e00 !important;
}

.ac-textBlock p {
    white-space: initial;
    text-align: left;
}

label.ac-textBlock {
    margin-bottom: 0;
}

input.ac-input {
    border: 1px solid #c5c5c5 !important;
}

@media only screen and (max-width: 480px) {
    .content-chatbot {
        position: fixed;
        max-width: none;
        right: 0;
    }
    .message>div, .from-user .message>div {
        width: 100%;
    }
}

.from-user .webchat__bubble__content {
    background-color: #f0d6b5;
}
